<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Cache" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<title>来访登记系统</title>

<link rel="stylesheet" href="css/all.css">
<script src="js/all.js"></script>

<style>
.weui-label {
	width: auto;
}
.img-placeholder{
	margin: 40px 0 0 35px;
	color: #ccc;
}
</style>
</head>
<body>

<div id="app" style="display: none">

	<div class="debug" style="display: none;">
		debug:<br>
	</div>

<!-- 	<div class="weui-navbar">
		<div class="weui-navbar__item weui-bar__item_on" onclick="location.href = 'index.html'">
			在线预约
		</div>
		<div class="weui-navbar__item" onclick="location.href = 'query.html'">
			预约查询
		</div>
	</div> -->


	<img src="img/bg.jpg" width="100%">

	<div>

	<template v-if="page == 1">

<!-- 			<div style="padding-left: 60px">
			<ul>
				<li>本系统需要实名认证，请确认录入信息无误</li>
				<li>预约成功后，请到商户前台处理后续业务</li>
			</ul>
		</div> -->

		<div class="weui-cells__group weui-cells__group_form">
			<div class="weui-cells" style="border-radius: 12px;">

				<div class="weui-cell" v-if="softwareVersion == 60001 || softwareVersion == 60002">
					<div class="weui-cell__hd">预约类型</div>
					<div class="weui-cell__bd">

						<label><input type="radio" name="预约类型" value="1" v-model="a.action"> 访客拜访</label>

						<label v-if="softwareVersion == 60002"><input type="radio" name="预约类型" value="3" v-model="a.action"> 我要入住</label>

					</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd">真实姓名</div>
					<div class="weui-cell__bd">
						<input class="weui-input" type="text" placeholder="请输入真实姓名"
						v-model="a.realName">
					</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd">身份证号</div>
					<div class="weui-cell__bd">
						<input class="weui-input" type="text" placeholder="请输入18位证件号码"
						id="身份证输入框">
					</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd">手机号码</div>
					<div class="weui-cell__bd">
						<input class="weui-input" type="number" v-model="a.mobile">
					</div>
				</div>

				<template v-if="softwareVersion == 60003">

					<div class="weui-cell">
						<div class="weui-cell__hd">预约日期</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="date" v-model="a.visitTime">
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd">被访人员</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" v-model="a.empName">
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd">被访人手机</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" v-model="a.empMobile">
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd">拜访原因</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" v-model="a.visitReason">
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd">访客公司名称</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" v-model="a.visitOrgName">
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd">车牌号</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="text" v-model="a.licensePlate">
						</div>
					</div>

				</template>

				<template v-if="softwareVersion != 60003 && a.action == 1">

					<div class="weui-cell">
						<div class="weui-cell__hd">预约时间</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="date" v-model="a.visitTime">
						</div>
					</div>

					<template v-if="examine == 1">

						<div class="weui-cell" v-if="softwareVersion == 60001">
							<div class="weui-cell__hd">拜访部门</div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" v-model="a.departTitle">
							</div>
						</div>

						<div class="weui-cell" v-if="softwareVersion == 60002">
							<div class="weui-cell__hd">拜访房间</div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" v-model="a.roomName">
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd">拜访人员</div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" v-model="a.beVisited">
							</div>
						</div>

						<div class="weui-cell">
							<div class="weui-cell__hd">拜访原因</div>
							<div class="weui-cell__bd">
								<input class="weui-input" type="text" v-model="a.cause">
							</div>
						</div>

					</template>

				</template>

				<template v-if="softwareVersion != 60003 && a.action == 3">

					<div class="weui-cell">
						<div class="weui-cell__hd">入住时间</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="date" v-model="a.bookingTime">
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd">预离时间</div>
						<div class="weui-cell__bd">
							<input class="weui-input" type="date" v-model="a.leaveTime">
						</div>
					</div>

				</template>


				<div class="weui-cells weui-cells_form">
					<div class="weui-cell">
						<div class="weui-cell__bd">

							<label>
								<img src="img/face.png" width="100" height="100" style="float:left" v-if="a.liveImgCode == ''">
								<img :src="`${a.liveImgCode}`" width="100" height="100" style="float:left" v-if="a.liveImgCode != ''">
								<input type="file" style="display:none" accept="image/*"
								id="upload_input" @change="选图()">
							</label>

							

							<div class="img-placeholder" style="float:left">拍照上传</div>

						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="weui-form__opr-area" style="margin-top:20px;">
			<a :class="`weui-btn weui-btn_${
			a.realName != '' &&
			a.identityCard != '' && (
				(a.action == 1 && a.visitTime != '') ||
				(a.action == 3 && a.bookingTime != '' && a.leaveTime != '' )
			) &&
			a.liveImg != '' ?
			'primary':'disabled'}`"
			id="提交按钮"
			@click="提交()"
			>确定提交</a>
		</div>

		<input type="hidden" name="liveImg" v-model="a.liveImg">

	</template>


	<template v-if="page == 2">

		<div class="weui-cells__group weui-cells__group_form">
			<div class="weui-cells weui-cells_form" style="border-radius: 12px;">

				<div class="weui-cell">
					<div class="weui-cell__hd">预约类型</div>
					<div class="weui-cell__bd">{{预约类型[a.action]}}</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd">真实姓名</div>
					<div class="weui-cell__bd">{{a.realName}}</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd">手机号码</div>
					<div class="weui-cell__bd">{{a.mobile}}</div>
				</div>

				<div class="weui-cell">
					<div class="weui-cell__hd">身份证号</div>
					<div class="weui-cell__bd">{{身份证}}</div>
				</div>

				<template v-if="a.action == 1">

					<div class="weui-cell">
						<div class="weui-cell__hd">预约时间</div>
						<div class="weui-cell__bd">
							{{a.visitTime}}
						</div>
					</div>

					<template v-if="examine == 1">

						<div class="weui-cell" v-if="a.departTitle != '' && softwareVersion == 60001">
							<div class="weui-cell__hd">拜访部门</div>
							<div class="weui-cell__bd">
								{{a.departTitle}}
							</div>
						</div>

						<div class="weui-cell" v-if="a.roomName != '' && softwareVersion == 60002">
							<div class="weui-cell__hd">拜访房间</div>
							<div class="weui-cell__bd">
								{{a.roomName}}
							</div>
						</div>

						<div class="weui-cell" v-if="a.beVisited != ''">
							<div class="weui-cell__hd">拜访人员</div>
							<div class="weui-cell__bd">
								{{a.beVisited}}
							</div>
						</div>

						<div class="weui-cell" v-if="a.cause != ''">
							<div class="weui-cell__hd">拜访原因</div>
							<div class="weui-cell__bd">
								{{a.cause}}
							</div>
						</div>

					</template>

				</template>

				<template v-if="a.action == 3">

					<div class="weui-cell">
						<div class="weui-cell__hd">入住时间</div>
						<div class="weui-cell__bd">
							{{a.bookingTime}}
						</div>
					</div>

					<div class="weui-cell">
						<div class="weui-cell__hd">预离时间</div>
						<div class="weui-cell__bd">
							{{a.leaveTime}}
						</div>
					</div>

				</template>

			</div>
		</div>

		<div class="weui-msg__opr-area" style="margin-top:20px;">
			<p class="weui-btn-area">
				<a class="weui-btn weui-btn_primary" @click="wx_close()">关闭页面</a>
			</p>
		</div>

	</template>


	<template v-if="page == 3">

		<div class="weui-cell">
			<div class="weui-cell__hd">真实姓名</div>
			<div class="weui-cell__bd">{{a.realName}}</div>
		</div>

		<div class="weui-cell">
			<div class="weui-cell__hd">身份证号</div>
			<div class="weui-cell__bd">{{身份证}}</div>
		</div>

		<div class="weui-cell">
			<div class="weui-cell__hd">手机号码</div>
			<div class="weui-cell__bd">{{a.mobile}}</div>
		</div>

		<div class="weui-cell">
			<div class="weui-cell__hd">预约日期</div>
			<div class="weui-cell__bd">
				{{a.visitTime}}
			</div>
		</div>

		<br>

		<div class="weui-cell">
			<div class="weui-cell__hd">被访人员</div>
			<div class="weui-cell__bd">
				{{a.empName}}
			</div>
		</div>

		<div class="weui-cell">
			<div class="weui-cell__hd">被访人员手机</div>
			<div class="weui-cell__bd">
				{{a.empMobile}}
			</div>
		</div>

		<div class="weui-cell">
			<div class="weui-cell__hd">拜访原因</div>
			<div class="weui-cell__bd">
				{{a.visitReason}}
			</div>
		</div>

		<div class="weui-msg__opr-area" style="margin-top:20px;">
			<p class="weui-btn-area">
				<a class="weui-btn weui-btn_primary" @click="wx_close()">关闭页面</a>
			</p>
		</div>

	</template>


		<div class="weui-form__extra-area">
			<div class="weui-footer">
				<p style="color: #FFF">由”互联网+“可信任身份认证平台提供支持</p>
			</div>
		</div>

	</div>


	<div v-if="loading == 1">
		<div class="weui-mask_transparent"></div>
		<div class="weui-toast">
			<i class="weui-loading weui-icon_toast"></i>
			<p class="weui-toast__content">数据加载中</p>
		</div>
	</div>

	<div class="js_dialog" v-if="alert != ''">
		<div class="weui-mask"></div>
		<div class="weui-dialog">
			<div class="weui-dialog__hd"><strong class="weui-dialog__title">{{alert.title ? alert.title:'提示'}}</strong></div>
			<div class="weui-dialog__bd">{{alert.message}}</div>
			<div class="weui-dialog__ft">

				<template v-if="alert.close != 'no'">
					<a class="weui-dialog__btn weui-dialog__btn_default"
					href="javascript:;"
					v-if="alert.close == 'wx'"
					@click="wx_close()">关闭</a>

					<a class="weui-dialog__btn weui-dialog__btn_default"
					href="javascript:;"
					v-if="alert.close == undefined"
					@click="alert = ''">关闭</a>

				</template>

				<a class="weui-dialog__btn weui-dialog__btn_primary"
				:href="`${alert.ok_url}`"
				v-if="alert.ok_url != undefined">{{alert.ok_title ? alert.ok_title:'确定'}}</a>

			</div>
		</div>
	</div>

</div><!--app-->


<script src="js/exif.min.js"></script>
<script>
var app = new Vue({
	el: '#app',
	data:{
		page: 0,
		loading: 1,
		alert: '',

		page: 0,

		a: {
			action: 1,
			realName: '',
			visitTime: '',
			leaveTime: '',
			liveImg: '',
			liveImgCode: '',//仅预览用
		},

		身份证: '',

		examine: 0,
		softwareVersion: 0,

		预约类型:{
			1:'访客拜访',
			3:'我要入住',
		},
	},
	methods:{
		toast: function(json){
			this.alert = json
		},
		toast_close: function(){
			this.alert = ''
		},
		wx_close: function(){
			WeixinJSBridge.invoke('closeWindow',{},function(res){})
		},
		debug: function(log){
			$('.debug').html( $('.debug').html() + log + '<br>' )
		},

		debug: function(log){

			$('.debug').html( $('.debug').html() + log + '<br>' )
		},

		身份证输入: function(){

		},

		选图: function(){
			var _this = this

			var file = $('#upload_input')[0].files[0]
			// console.log(file)

			// 方向 1=0° 6=顺时针90° 8=逆时针90° 3=180°
			var Orientation
			EXIF.getData(file, function(){

				Orientation = EXIF.getTag(this, 'Orientation')

				//创建一个文件读取的工具类
				var reader = new FileReader()

				reader.onload = function(e){

					// console.log(this.result)//原base64码

					_this.压图(this.result, Orientation)
				}

				//告诉文件读取工具类读取那个文件
				reader.readAsDataURL(file)

			})
		},
		压图:function(src, Orientation){
			var _this = this

			// 需要压缩的最大尺寸
			var MAX_SIZE = 500

			//创建Image对象
			var image = new Image()

			image.src = src
			image.onload = function(){

				_this.debug('压前：' + image.width + ' x ' + image.height)

				//宽大于高的情况
				if (image.width > MAX_SIZE && image.width >= image.height){
					image.height *= MAX_SIZE / image.width
					image.width = MAX_SIZE
				}
				//宽小于高的情况
				if (image.height > MAX_SIZE && image.height > image.width){
					image.width *= MAX_SIZE / image.height
					image.height = MAX_SIZE
				}

				_this.debug('压后：' + image.width + ' x ' + image.height)

				var canvas = document.createElement("canvas")

				//获取2d画布
				var ctx = canvas.getContext("2d")
				canvas.width = image.width
				canvas.height = image.height

				ctx.clearRect(0, 0, canvas.width, canvas.height)

				// 摆正
				var ios = 0
				if(navigator.userAgent.indexOf('iPhone OS') != -1){
					var tmp = navigator.userAgent.indexOf('iPhone OS')
					ios = Number( navigator.userAgent.substr(tmp + 10, 2) )
					// alert(ios)
				}


				if(ios >= 13){
					ctx.drawImage(image, 0, 0, image.width, image.height)
				}
				else{
					switch(Orientation){
						case 6:// 旋转90度
							canvas.width = image.height
							canvas.height = image.width
							ctx.rotate(Math.PI / 2)
							ctx.drawImage(image, 0, -image.height, image.width, image.height)
							break
						case 3:// 旋转180度
							ctx.rotate(Math.PI)
							ctx.drawImage(image, -image.width, -image.height, image.width, image.height)
							break
						case 8:// 旋转-90度
							canvas.width = image.height
							canvas.height = image.width
							ctx.rotate(3 * Math.PI / 2)
							ctx.drawImage(image, -image.width, 0, image.width, image.height)
							break
						
						default:
							ctx.drawImage(image, 0, 0, image.width, image.height)
							break
					}
				}


				//生成base64码
				var base64Code = canvas.toDataURL("image/jpeg")
				_this.a.liveImgCode = base64Code

				//丢掉 data:image/jpeg;base64,
				var base64Code2 = base64Code.replace('data:image/jpeg;base64,', '')

				//把base64码放入input
				// $('input[name="liveImg"]').val(base64Code2)
				_this.a.liveImg = base64Code2
			}

		},
		提交: function(){

			if( $('#提交按钮').hasClass('weui-btn_disabled') ){
				return
			}

			var _this = this

			this.loading = 1

			var 接口地址 = '', post = {}

			if(this.softwareVersion == 60003){

				接口地址 = 'h5VisitorAppointment'
				post = {
					identifier: LS.identifier,
					realName: this.a.realName,
					identityCard: $('#身份证输入框').val().split(" ").join(""),
					liveImg: this.a.liveImg,
					deviceSn: LS.deviceSn,
					mobile: this.a.mobile,
					visitTime: this.a.visitTime,
					visitOrgName: this.a.visitOrgName,
					empName: this.a.empName,
					empMobile: this.a.empMobile,
					visitReason: this.a.visitReason,
					licensePlate: this.a.licensePlate,
				}

			}

			else if(this.a.action == 1){

				接口地址 = 'h5FaceRecognition'
				post = {
					action: this.a.action,
					identifier: LS.identifier,
					realName: this.a.realName,
					identityCard: $('#身份证输入框').val().split(" ").join(""),
					liveImg: this.a.liveImg,
					deviceSn: LS.deviceSn,
					mobile: this.a.mobile,
					visitTime: this.a.visitTime,
				}

				if(this.examine == 1){

					post.beVisited = this.a.beVisited
					post.cause = this.a.cause

					if(this.softwareVersion == 60001){
						post.departTitle = this.a.departTitle
					}
					if(this.softwareVersion == 60002){
						post.roomName = this.a.roomName
					}
				}
			}

			else if(this.a.action == 3){

				接口地址 = 'h5GuestFaceRecognition'
				post = {
					action: this.a.action,
					identifier: LS.identifier,
					realName: this.a.realName,
					identityCard: $('#身份证输入框').val().split(" ").join(""),
					liveImg: this.a.liveImg,
					deviceSn: LS.deviceSn,
					mobile: this.a.mobile,
					bookingTime: this.a.bookingTime,
					leaveTime: this.a.leaveTime,
					roomName: this.a.roomName,
				}
			}

			var data = {
	"reqHead":{
		"clientType":"1",
		"appVersion":"1.0",
		"osVersion":"安卓4.2.1",
		"imei":"设备号",
		"mobileModel":"S1",
		"mobileManufacturer":"小米",
		"identificationCode":"1212312",
		"lat":"1",
		"lng":"1",
		"format":"json",
		"version":"1.0",
		"sign":"AF589D24291C386A925DF1430AFB38B7"
	},
	"reqBody": post
}

			$.ajax({
				type: 'POST',
				url: api + 'zzb/visitor/' + 接口地址 + '/interface',
				data: JSON.stringify(data),
				dataType: 'json',
				success: function(re){

					_this.loading = 0

					if(re.rspHead.retCode == '1'){

						if(softwareVersion == 60003){
							_this.page = 3
						}else{
							_this.page = 2
						}
						

					}else{

						_this.toast({message:re.rspHead.retMsg})

					}

				}
			})

		},
	},
	mounted(){
		var _this = this

		console.log('vue is ready')


		this.page = 1

		this.loading = 0

		var ua = navigator.userAgent

		if(ua.indexOf('MicroMessenger') != -1){
			this.客户端 = '微信'
		}
		if(ua.indexOf('Alipay') != -1){
			this.客户端 = '支付宝'
		}

		if(this.客户端 == ''){
			this.toast({message:'请在中证宝APP、微信、支付宝扫码使用',close:'wx'})
			return
		}

		if(this.客户端 == '支付宝'){
			this.toast({message:'支付宝暂未开通',close:'wx'})
			return
		}

		// return

		var _this = this

		// 清缓存
		if(getUrl('clean') != undefined){
			LS.removeItem('mchId')
			return
		}

		// mchId
		if(getUrl('mchId') != undefined){
			LS.mchId = getUrl('mchId')
		}else if(LS.mchId != undefined){

		}else{
			this.toast({message:'缺少mchId',close:'wx'})
			return
		}


		// deviceSn
		if(getUrl('hsdevice') != undefined){
			LS.deviceSn = getUrl('hsdevice')

			//机器乱加去除
			if(LS.deviceSn.indexOf('?') != -1){
				LS.deviceSn = LS.deviceSn.split('?')[0]
			}

		}else if(LS.deviceSn != undefined){

		}else{
			this.toast({message:'缺少hsdevice',close:'wx'})
			return
		}

		setTimeout(function(){
			$("#身份证输入框").keyup(function(obj){

				// Backspace不执行函数
				if(obj.keyCode == 8){return}

				var code = $('#身份证输入框').val()

				code = code.split(" ").join("")

				if(code.length >= 6){
					code = code.slice(0, 6) + ' ' + code.slice(6)
				}
				if(code.length >= 15){
					code = code.slice(0, 15) + ' ' + code.slice(15)
				}
				// console.log(code)

				_this.身份证 = code
				$('#身份证输入框').val(code)
			})
		}, 300)


		// 商户信息
		var data = {
	"reqHead":{
		"clientType":10,
		"appVersion":"1.0",
		"osVersion":"安卓4.2.1",
		"imei":"设备号",
		"mobileModel":"S1",
		"mobileManufacturer":"小米",
		"identificationCode":"1212312",
		"lat":"1",
		"lng":"1",
		"format":"json",
		"version":"1.0",
		"sign":"UCR1fIQ9lyUCR1fIQ9lyUCR1fIQ9lyUCR1y"
	},
	"reqBody": {
		"mchId": LS.mchId
	}
}

		$.ajax({
			type: 'POST',
			url: api + 'zzb/visitor/h5MchInfo/interface',
			data: JSON.stringify(data),
			dataType: 'json',
			success: function(re){
				if(re.rspHead.retCode == '1'){
					LS.identifier = re.rspBody.identifier
					_this.softwareVersion = re.rspBody.softwareVersion
					_this.examine = re.rspBody.examine
					$('title').html('[' + re.rspBody.title + ']' + $('title').html())
				}else{
					_this.toast({message:re.rspHead.retMsg,close:'wx'})
				}

				$('#app').fadeIn()
			}
		})

	}
})
</script>
</body>
</html>